.posts-index .container, .equipos-usuarios-index .container {
    border: 2px solid black;
}

.row div {
    padding-bottom: 10px;
}
hr {
    border-color: red !important;
}

.boton {
    margin-top: 25px;
}

.invitacion span {
    margin-top: 25px;
}
